:root {
    --primary: #007bff;
    --secondary: #007bff;
    --white: #fff;
    --body: #1b1b1b;
    --black: #171717;
    --border-color: #515151;
    --container-bg: #1f1f1f;
    --top-radial-gradient: radial-gradient(ellipse, rgba(75, 104, 243, 0.75) 0%, rgba(0, 128, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    --logo-border-color: rgb(75, 104, 243);
    --text-color: #b3b3b3;
    --confirm-color: #28a745;
    --link-icon-color: #45fb6f;
    --link-background-color : #227a36;
    --selected-wallet-color: #175525;
    --buy-icon-color: #5f95ff;
    --buy-background-color : #224faa;
    --timer-background-color : #2a2a2a;
    --grey-background-color: #2c2c2c;
    --red-button-color: #d9534f;
    --error-background-color: #1f1f1f;
    --box-shadow: rgba(0, 0, 0, 0.5);
    --opacity-background: rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none !important;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Seravek', sans-serif;
    width: 100%;
    height: 100%;
    background-color: var(--body);
    color: var(--white);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    overflow-y: hidden;
    flex-shrink: 0;
}

/* Home */
.container {
    width: 100%;

    height: 100vh;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    border: 1px solid var(--border-color);
    background-color:var(--container-bg);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.header {
    width: 100%;
    height: 250px;
    position: relative;
    border-radius: 20px 20px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 450px;
    border-radius: 50%;
    top: -300px;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    background: var(--top-radial-gradient);
}

.header .logo-icon {
    position: absolute;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 50px;
    border: 1px solid var(--logo-border-color);
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.main-content h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: var(--text-color);
}

.balance-value {
    font-size: 36px;
    font-weight: bold;
    color: var(--white);
    margin: 0;
}

.balance-tokens {
    font-size: 16px;
    margin-top: 5px;
    color: var(--text-color);
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.btn-background {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn-icon {
    fill: currentColor;
    transition: fill 0.3s ease;
    width: 40px;
    height: 40px;
}

.btn p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--text-color);
}

.btn-background.link{
    background-color: var(--link-background-color);
}

.btn-background.buy{
    background-color: var(--buy-background-color);
}

.link {
    color: var(--link-icon-color);
}

.buy {
    color: var(--buy-icon-color);
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
}

.time-block {
    width: 125px;
    height: 125px;
    border-radius: 100px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--timer-background-color);
    border: 1px solid var(--border-color);
    transition: all 0.3s ease; /* Плавный переход */
}

.time-block span {
    font-size: 28px;
    font-weight: bold;
    color: var(--white);
}

.time-block p {
    font-size: 16px;
    margin: 0;
    color: var(--text-color);
}

@media (max-width: 600px) {
    .time-block {
        width: 87px;
        height: 87px;
        border-radius: 50px;
        margin: 0 3px;
    }

    .time-block span {
        font-size: 24px;
    }

    .time-block p {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .time-block {
        width: 70px;
        height: 70px;
        border-radius: 40px;
        margin: 0 2px;
    }

    .time-block span {
        font-size: 22px;
    }

    .time-block p {
        font-size: 12px;
    }
}


.reward {
    margin-top: 20px;
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    background-color: var(--confirm-color);
    color: var(--white);
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
    z-index: 5;
    position: relative;
    background-color: var(--container-bg);
    position: relative;
    width: 100%;
    margin-top: auto;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

    transition: background-color 0.3s ease;
}

.nav-item.active {
    filter: brightness(0) invert(1);
}

.nav-icon {
    width: 30px;
    height: 30px;
    filter: brightness(0) invert(.5);
    color: var(--text-color);
}


