.side-panel {
    position: fixed;
    top: 50%;
    right: -160px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    transition: right 0.4s ease-in-out;
    z-index: 999;
}

.panel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 50px;
    background: #1E3A8A;
    color: var(--white);
    border: none;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    position: absolute;
    left: -50px;
    transition: transform 0.3s ease-in-out;
}

.panel-button .arrow {
    margin-right: 5px;
    transition: transform 0.3s ease-in-out;
}

.toggle-icon {
    width: 22px;
    height: 22px;
    margin-left: 5px;
}

.info-panel {
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 160px;
    text-align: center;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
}

.side-panel.open {
    right: 0;
}

@keyframes bounce {
    0%, 100% { transform: translateX(5px); }
    50% { transform: translateX(0px); }
}

.side-panel.closed .panel-button {
    animation: bounce 1s infinite;
}

.ref-level {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ref-count {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ref-bonus {
    font-size: 16px;
    font-weight: bold;
    color: #FFD700; /* Золотой цвет бонуса */
    margin-bottom: 5px;
}